.nav--container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: relative;
  top: 80px;
  padding: 20px;
}

.nav--tile {
  height: 90px;
  width: 90px;
  position: relative;
}

.nav--icon {
  font-size: 25px !important;
}

.nav--input[type="radio"] {
  -webkit-appearance: none;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  cursor: pointer;
  border: 3px solid transparent;
  outline: none;
}

.nav--input[type="radio"]:after {
  content: "";
}

.nav--input[type="radio"]:hover {
  transform: scale(1.04);
  background-color: #e0c64e;
}

.nav--input[type="radio"]:hover + label {
  color: black;
}

.nav--input[type="radio"]:checked {
  background-color: #e0c64e;
}

.nav--input[type="radio"]:checked + label {
  color: black;
}
