* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #282a27;
  color: white;
  font-family: "Open Sans", sans-serif;
}

section {
  width: 90%;
  margin: 130px auto 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  color: black;
}

.category--container {
  display: flex;
  width: 100%;
  top: 90px;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 770px) {
  .form--container {
    grid-template-columns: 1.5fr 1fr !important;
  }
}

@media only screen and (max-width: 675px) {
  .category--container {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
  }

  section {
    width: 95%;
    justify-content: center;
    gap: 12px;
  }

  .form--container {
    display: block !important;
  }
}
